<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hai.dentist.haidentist">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_3"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaiDentist"
        tools:targetApi="31">
        <activity
            android:name=".ui.disease.detail.DiseaseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.consultation.online.ChatActivity"
            android:exported="false" />
        <activity
            android:name="com.hai.dentist.haidentist.ui.doctor.DoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.hai.dentist.haidentist.ui.doctorprofile.DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.hai.dentist.haidentist.ui.selfcare.SelfcareActivity"
            android:exported="false" />
        <activity
            android:name="com.hai.dentist.haidentist.ui.camera.gallery.GalleryActivity"
            android:exported="false" />
        <activity
            android:name="com.hai.dentist.haidentist.ui.analisis.AnalisisActivity"
            android:exported="false" />
        <activity
            android:name="com.hai.dentist.haidentist.ui.camera.camerax.CameraActivity"
            android:exported="false" />
        <activity
            android:name="com.hai.dentist.haidentist.ui.auth.sign.SignActivity"
            android:exported="false" />
        <activity
            android:name=".ui.consultation.online.OnlineConsultationActivity"
            android:exported="false" />
        <activity
            android:name="com.hai.dentist.haidentist.ui.consultation.offline.OfflineConsultationActivity"
            android:exported="false" />
        <activity
            android:name="com.hai.dentist.haidentist.ui.onboarding.OnBoarding"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hai.dentist.haidentist.ui.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.hai.dentist.haidentist.MainActivity"
            android:exported="false" />
    </application>

</manifest>